{% assign url_parts = page.url | split: '/' %}
{% assign url_last = url_parts |last  %}

<header class="site-header">
  <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a>
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.short_title }}</a>
</header>

<nav id="menu">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/licenses/">Licenses</a>
      <ul>
        <li {% if url_last == 'licenses' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/licenses/odbl/">Open Data Commons Open Database License (ODbL)</a>
        </li>
        <li {% if url_last == 'licenses' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/licenses/by/">Open Data Commons Attribution License</a>
        </li>
        <li {% if url_last == 'licenses' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/licenses/pddl/">Open Data Commons Public Domain Dedication and License (PDDL)</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="{{ site.baseurl }}/norms/">Norms</a>
      <ul>
        <li {% if url_last == 'licenses' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/norms/odc-by-sa/">ODC Attribution-Sharealike Community Norms</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="{{ site.baseurl }}/faq/">FAQ</a>
      <ul>
        <li {% if url_last == 'licenses' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/faq/licenses-faq/">Licenses FAQ</a>
        </li>
      </ul>
    </li>

    <li {% if url_parts contains 'news' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/news/">News</a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/about/">About</a>
      <ul>
        <li {% if url_last == 'pages' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/about/advisory-council/">Advisory Council</a>
        </li>
        <li {% if url_last == 'contact' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/about/contact/">Contact</a>
        </li>
      </ul>
    </li>
    
</nav>
